version: '2.4'

volumes:
  prometheus_data: {}
  grafana_data: {}

services:
  kafka_exporter:
    image: danielqsj/kafka-exporter
    networks:
      - Instigator
    command: 
      - --kafka.server=broker1:9092 --kafka.server=broker2:9092 --kafka.server=broker3:9092
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - 9090:9090
    command:
      - --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/prometheus --storage.tsdb.retention=168h
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    depends_on:
      - cadvisor
    networks:
      - Instigator
  cadvisor:
    image: google/cadvisor:latest
    ports:
      - 8080:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - Instigator
  grafana:
    image: grafana/grafana:3.0.0-beta7
    environment:
        - GF_SECURITY_ADMIN_PASSWORD=pass
    depends_on:
        - prometheus
    ports:
        - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - Instigator

secrets:
  prometheus.yml:
    file: config/prometheus.yml
  alertmanager.yml:
    file: config/alertmanager.yml

networks:
  default:
    external:
      name: instigator
